.button {
  border-radius: 5px;
  border: grey 1px solid;
  background: white;
  transition: 0.3s all;
  min-width: 40px;
  padding: 0 4px;
  min-height: 26px;
  cursor: pointer;

  @media (prefers-color-scheme: dark) {
    background: #1f1f1f;
  }

  &:hover {
    background: black;
    color: white;

    @media (prefers-color-scheme: dark) {
      background: white;
      color: black;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}