.downloadFile {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 10px 12px;
  border-radius: 25px;
  transition: 0.4s all;
  cursor: pointer;
  border: 1px solid black;
  background: white;

  @media (prefers-color-scheme: dark) {
    background: #1f1f1f;
  }

  &:hover {
    border: 1px solid white;
    background: grey;

    @media (prefers-color-scheme: dark) {
      border: 1px solid grey;
      background: #363636;
    }
  }

}